@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CompanyListViewModel
@{
    ViewData["Title"] = "Index";
}

    <h1 class="display-4 text-center">Index</h1>
    <div class="row">
        @foreach (var company in Model.Companies)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@company.Avatar" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">@company.Name</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>